%tr{ id: dom_id(order) }
  %th.fs-2{ class: order.bootstrap_text_color }= order.number
  %td= order.progress_in_words
  %td
    - if order.preparing?
      = link_to ready_order_path(order), data: { turbo_method: :post } do
        .btn.btn-orange.rounded-pill.px-3 Pripravená!
    - elsif order.ready?
      = link_to deliver_order_path(order), data: { turbo_method: :post } do
        .btn.btn-success.rounded-pill.px-3 Odovzdaná.
