= turbo_stream_from :orders

#spotlight
= audio_tag "bell.mp3", id: 'bell'

.mx-5
  .row.justify-content-between
    .col-5.enlarge.text-white Pripravujeme...
    .col-5.enlarge.text-white Hotovo!
  .row.justify-content-between
    #orders-in-preparation.col-5.fs-2
      - @orders_in_preparation.each do |order|
        = render partial: 'orders/number', locals: { order: order }
    #orders-ready.col-5.fs-2
      - @orders_ready.each do |order|
        = render partial: 'orders/number', locals: { order: order }